<% include partials/header %>
        <h1>My todolist</h1>
        <ul>
            <% showdata %>
        <% todolist.forEach(function(todo, index) { %>
            <li>
                <a href="/todo/delete/<%= index %>">✘</a> 
                <button type="button" (click)="showdata">Toggle Component</button>
                <%- todo %>
            </li>
        <% }); %>
        </ul>

        <form action="/todo/add/" method="post">
            <p>
                <label for="newtodo">What shoud I do?</label>
                <input type="text" name="newtodo" id="newtodo" autofocus />
                <input type="submit" />
            </p>
        </form>


        <div >
         <form action="/todo/edit/" method="post">
            <p>
                <label for="updatetodo">What shoud I do?</label>
                <input type="text" name="updatetodo" id="updatetodo" autofocus />
                <input type="submit" />
            </p>
        </form>
    </div>

<% include partials/footer %>
